<html>
<head>

</head>

<header>
    <div>
        <div>
            <a href="{% url "recipes:recipes_page" %}">Все рецепты</a>
        </div>

        <div>
            {% if user.is_authenticated %}
                Hi {{ user.username }}|<a href="{% url "users:logout" %}">logout</a>
            {% else %}
                <a href="{% url 'users:login' %}">Login</a>
            {% endif %}
        </div>
    </div>
</header>

<body>
    {% block content %}
    {% endblock %}

    {% block footer %}
    {% endblock %}
</body>


</html>